*{
  box-sizing: border-box;
}
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;400;500&display=swap');
body{
  padding: 0;
  margin: 0;
  padding: 26px;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
  color: silver;
}
header{
  width: 100%;
  /* padding: 26px; */
}
header span{
  position: fixed;
  top: 20px;
  right: 20px;
  /* background: #C6E2EF80; */
  border-radius: 5px;
}
header .container{
  width: 100%;
  color: silver;
}
 .closeA{ 
  color: black;
}



main{
  margin-top: 44px;
}
  /* img{
  width: 100%;
  } */

main .container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
main .icon-container{
  display: flex;
  flex-flow: row;
}

main .icon-container span{
  background: #C6E2EF69;
  padding: 3px;
  border-radius: 4px;
  width: 100px;
  margin: 4px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
/* .whatsapp img{
  width: 200px;
} */
.icon-container img{
  width: 14px;
}

.left{
  width: 50%;
}
.left img{
  width: 80%;
  margin: auto;
}

.right{
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.right a{
  color: black;
}

.right button{
  border: none;
  padding: 8px;
  background: black;
  color: white;
  font-weight: bold;
}

@media (max-width: 700px){
  .left{
    width: 100%;
  }
  .left img{
    width: 100%;
    border-radius: 4px;
  }
}
